{% extends 'main_app/base.html' %}

{% load static %}

{% block title %}
    Swan segmentation project
{% endblock %}

{% block menu %}
    <li class="nav-item "> <a class = "nav-link" href="{% url 'about' %}" target="_blank"> About </a> </li>
    <li class="nav-item "> <a class = "nav-link" href="{% url 'feedback' %}" target="_blank"> Feedback </a> </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#"> ML projects </a>
      <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="{% url 'bank_loan' %}"> Bank Loan </a>
        </li>
        <li>
        <a class="dropdown-item" href="{% url 'clf_project' %}"> CV project </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'seg_project' %}"> Segmentation project </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'cms_project' %}"> CMS project </a>
        </li>
      </ul>
  </li>
{% endblock %}

{% block content %}
<div class="container-fluid main_div">
    <div class="row">
        <div style="margin-left:10%; margin-top:2%" class="col-10">
            <h1> Project description</h1>
            <p>
              This model based on dataset from <a href="https://hacks-ai.ru/hackathons.html?eventId=969064&caseEl=969235&tab=1" target="_blank">Hackathon</a>,
              organized by Ministry of Natural Resources and Environment of Russia. The task is to train Neural network to
              classify 3 types of rare swans: Whooper(Klikun in Russian transcription), Mute(Shipun) and Tundra swan(Malyi). The dataset consists of
              images, and masks. On competition I presented classification model, which is on <a href="{% url 'clf_project' %}" target="_blank">Clf project</a> page.
              But as an addition, I have trained my UNet model for image segmentation, that you can use here.
              Accuracy of Unet model on test data were 94.5% and intersection over union(IOU) were 70%.
            </p>
            <p>
              You can see segmentation solution on
              <a href="https://github.com/ArtemLRep/Swan_segmentation_project/tree/main" target="_blank">GitHub</a> page,
                and download this <a href="https://drive.google.com/drive/folders/1QFzcdU51ZljXrckYtSqUzKdzq2x6T2-m?usp=share_link" target="_blank">model</a> from Google Drive.
              Additionally, you can download
              <a href="https://drive.google.com/file/d/105g-tufIiC5nX6fKzh4JQzRfcg79irS-/view?usp=share_link" target="_blank">
              dataset </a> from Google drive.
            </p>
            <p>
              To get the result upload Image and push <button class="btn btn-primary"> Get result</button> button.
              You will get 256x256 segmented image, which you can download pressing <button class="btn btn-primary">Download Segmented Image</button>
              below segmented image.
          </p>
            <p>
              If you are sign in, you can see the result in your <a href="{% url 'user_page' %}">user menu</a> page. All images and results are stored in DB and media directory.
              Data is linked to your profile.
          </p>
          <p> <b>Important</b> your image should have 3 channels. Otherwise, you`ll see "Number of channels != 3" label below uploaded image </p>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" style="margin-left:10%;margin-top:2%">
        <div class="row">
            <div class="col-8 col-md-6">
                {% csrf_token %}
                {{ form }}
            </div>
        </div>
        <div>
            <div class="col-6 py-3">
                <button class="btn btn-primary" type="submit"> Get Result </button>
            </div>
        </div>
    </form>
{% if img %}
    <div class="row py-3" style="margin-left:10%">
        <h3 class="py-2"> Image </h3>
        <img id="Clf_image" src="{{ img.image.url }}">
    </div>
{% endif %}

{% if seg_img %}
    <div class="row py-3" style="margin-left:10%">
        <div class="col d-flex flex-column">
            <h3 class="py-2"> Segmented Image </h3>
            <img src="{{ seg_img.res_image.url }}" style="width:272px; height:272px">
            <div class="col-8 col-sm-6 py-3">
                <a type="button" class="btn btn-primary" id="download_cv" href="{{ seg_img.res_image.url }}" style="font-size:15px" download>Download Segmented Image</a>
            </div>
        </div>
    </div>
{% endif %}
{% if error_msg %}
    <h1 style="margin-left:10%;margin-top:2%"> {{ error_msg }} </h1>
{% endif %}

{% endblock %}